main{
  width: 1080px;
  margin: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container-float--button button{
  position: fixed;
  right: 10px;
  bottom: 0;
  margin-bottom: 10px;
  padding: 1px 12px 4px;
  cursor: pointer;
  border-radius: 100%;
  outline: 0;
  border: 0;
  background-color: #ff6e40;
  color: #fff;
  font-size: 2em;
}
.layout-container-from{
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form-products{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.container-form-products{
  background-color: #fff;
  border-radius: 5px;
}
.container-form-products .form-product {
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-form-products > button:nth-child(1) {
  position: absolute;
  border-radius: 100%;
  padding: 8px 11px;
  top: -10px;
  left: -10px;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: #c2185b;
  color: #fff;
}
.form-product input {
  width: 40%;
  margin: 5px;
  padding: 4px;
}
.container-btn-save {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
